<html>
<head>
<title>
Data Flow Monitoring - Bristol
</title>
</head>
<body>
<h2>Data Flow Monitoring - Bristol</h2>

<form method="post" action="index/search_dbs">
	<input type="text" name="dbs_search" size="80" /> 
	<input type="submit" value="Search"/>
</form>

<form method="post" action="index/show_available_datasets">
	<input type="submit" value="Display available datasets" />
</form>

<form method="post" action="index/show_datasets_in_progress">
	<input type="submit" value="Display datasets in progress"/>
</form>

<form method="post" action="index/show_all_datasets">
	<input type="submit" value="Display all datasets" />
</form>

</body>
</html>
