<html>
<head>
<title>Status</title>
<style>

td.done{background-color:#00CC00; font-size:8pt}
td.missing{background-color:#FF0000;font-size:8pt}
td.running{background-color:#FF9900;font-size:8pt}
table{
text-align: center;
}
</style>
</head>
<body>
<center>
<form action="show_datasets_in_progress" method="post">
Sort by
<select NAME="sort_by">  
 <option value="dbs_sample" /> dataset  
 <option value="user" /> user  
</select>
<input type="submit" value="sort" />
</form>

%s

<table>
<tr>
<td class="done" style="font-size:12pt; color: white; height: 16pt">
&nbsp; finished&nbsp;
</td>
</tr>
<tr>
<td class="running" style="font-size:12pt; color: white; height: 16pt">
&nbsp; running&nbsp;
</td>
</tr>
<tr>
<td class="missing" style="font-size:12pt; color: white; height: 16pt">
&nbsp; missing (pending/unknown)&nbsp;
</td>
</tr>
</table>
</center>

</body>
</html>